BASWARE_HOST=basware.example.com
BASWARE_USERNAME=admin
BASWARE_PASSWORD=
BASWARE_CONNECTION_STRING=Host=database.example.com;Port=5432;Database=basware;Username=basware;Password=CHANGE_ME;SSL Mode=VerifyFull
